# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    keyvalue_host:      keyvalue
    keyvalue_port:      5432
    keyvalue_name:      keyvalue
    keyvalue_user:      keyvalue
    keyvalue_password:  keyvalue
    odm_host:           odm
    odm_port:           5432
    odm_name:           odm
    odm_user:           odm
    odm_password:       odm
    orm_host:           orm
    orm_port:           5432
    orm_name:           orm
    orm_user:           orm
    orm_password:       orm
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
