{% extends 'base.html.twig' %}

{% block title %}Morozov{% endblock %}

{% block body %}
    <ul>
        {% for message in messages %}
            <li>{{ message.body|e }}</li>
        {% else %}
            <li><em>no message found</em></li>
        {% endfor %}
    </ul>

{% endblock %}